In [45]:
import pandas as pd
import

In [46]:
#Importiamo il database covid 19
cv = pd.read_csv(r'C:\Users\paster\Downloads\owid-covid-data.csv')
cv

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429430,ZWE,Africa,Zimbabwe,2024-07-31,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429431,ZWE,Africa,Zimbabwe,2024-08-01,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429432,ZWE,Africa,Zimbabwe,2024-08-02,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429433,ZWE,Africa,Zimbabwe,2024-08-03,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN
429434,ZWE,Africa,Zimbabwe,2024-08-04,266386.0,0.0,0.0,5740.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539,NaN,NaN,NaN,NaN

In [47]:
#1. Dimensioni del dataset
print(f"Numero di righe: {cv.shape[0]}")
print(f"Numero di colonne: {cv.shape[1]}")
#1. Metadati (nomi colonne)
print("Colonne disponibili:", cv.columns.tolist())

Numero di righe: 429435
Numero di colonne: 67
Colonne disponibili: ['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred', 'stringency_index', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index', 'population', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million']

In [48]:
# Ottieni informazioni generali sul dataset
cv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    429435 non-null  object
 1   continent                                   402910 non-null  object
 2   location                                    429435 non-null  object
 3   date                                        429435 non-null  object
 4   total_cases                                 411804 non-null  float64
 5   new_cases                                   410159 non-null  float64
 6   new_cases_smoothed                          408929 non-null  float64
 7   total_deaths                                411804 non-null  float64
 8   new_deaths                                  410608 non-null  float64
 9   new_deaths_smoothed                         409378 non-null  float64
 10  total_cases_per_million                     411804 non-null  float64
 11  new_cases_per_million                       410159 non-null  float64
 12  new_cases_smoothed_per_million              408929 non-null  float64
 13  total_deaths_per_million                    411804 non-null  float64
 14  new_deaths_per_million                      410608 non-null  float64
 15  new_deaths_smoothed_per_million             409378 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                39116 non-null   float64
 18  icu_patients_per_million                    39116 non-null   float64
 19  hosp_patients                               40656 non-null   float64
 20  hosp_patients_per_million                   40656 non-null   float64
 21  weekly_icu_admissions                       10993 non-null   float64
 22  weekly_icu_admissions_per_million           10993 non-null   float64
 23  weekly_hosp_admissions                      24497 non-null   float64
 24  weekly_hosp_admissions_per_million          24497 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          85417 non-null   float64
 35  people_vaccinated                           81132 non-null   float64
 36  people_fully_vaccinated                     78061 non-null   float64
 37  total_boosters                              53600 non-null   float64
 38  new_vaccinations                            70971 non-null   float64
 39  new_vaccinations_smoothed                   195029 non-null  float64
 40  total_vaccinations_per_hundred              85417 non-null   float64
 41  people_vaccinated_per_hundred               81132 non-null   float64
 42  people_fully_vaccinated_per_hundred         78061 non-null   float64
 43  total_boosters_per_hundred                  53600 non-null   float64
 44  new_vaccinations_smoothed_per_million       195029 non-null  float64
 45  new_people_vaccinated_smoothed              192177 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  192177 non-null  float64
 47  stringency_index                            196190 non-null  float64
 48  population_density                          360492 non-null  float64
 49  median_age                                  334663 non-null  float64
 50  aged_65_older                               323270 non-null  float64
 51  aged_70_older                               331315 non-null  float64
 52  gdp_per_capita                              328292 non-null  float64
 53  extreme_poverty                             211996 non-null  float64
 54  cardiovasc_death_rate                       328865 non-null  float64
 55  diabetes_prevalence                         345911 non-null  float64
 56  female_smokers                              247165 non-null  float64
 57  male_smokers                                243817 non-null  float64
 58  handwashing_facilities                      161741 non-null  float64
 59  hospital_beds_per_thousand                  290689 non-null  float64
 60  life_expectancy                             390299 non-null  float64
 61  human_development_index                     319127 non-null  float64
 62  population                                  429435 non-null  int64
 63  excess_mortality_cumulative_absolute        13411 non-null   float64
 64  excess_mortality_cumulative                 13411 non-null   float64
 65  excess_mortality                            13411 non-null   float64
 66  excess_mortality_cumulative_per_million     13411 non-null   float64
dtypes: float64(61), int64(1), object(5)
memory usage: 219.5+ MB

In [49]:
# Visualizza le prime righe per avere un'idea generale
cv.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772,NaN,NaN,NaN,NaN

In [50]:
#Vedo una statistica generale
cv.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,4.118040e+05,4.101590e+05,4.089290e+05,4.118040e+05,410608.000000,409378.000000,411804.000000,410159.000000,408929.000000,411804.000000,...,243817.000000,161741.000000,290689.000000,390299.000000,319127.000000,4.294350e+05,1.341100e+04,13411.000000,13411.000000,13411.000000
mean,7.365292e+06,8.017360e+03,8.041026e+03,8.125957e+04,71.852139,72.060873,112096.199396,122.357074,122.713844,835.514313,...,33.097723,50.649264,3.106912,73.702098,0.722139,1.520336e+08,5.604765e+04,9.766431,10.925353,1772.666400
std,4.477582e+07,2.296649e+05,8.661611e+04,4.411901e+05,1368.322990,513.636567,162240.412419,1508.778583,559.701638,1134.932671,...,13.853948,31.905375,2.549205,7.387914,0.148903,6.975408e+08,1.568691e+05,12.040658,24.560706,1991.892769
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.700000,1.188000,0.100000,53.280000,0.394000,4.700000e+01,-3.772610e+04,-44.230000,-95.920000,-2936.453100
25%,6.280750e+03,0.000000e+00,0.000000e+00,4.300000e+01,0.000000,0.000000,1916.100500,0.000000,0.000000,24.568000,...,22.600000,20.859000,1.300000,69.500000,0.602000,5.237980e+05,1.765000e+02,2.060000,-1.500000,116.872242
50%,6.365300e+04,0.000000e+00,1.200000e+01,7.990000e+02,0.000000,0.000000,29145.475000,0.000000,2.794000,295.089000,...,33.100000,49.542000,2.500000,75.050000,0.740000,6.336393e+06,6.815199e+03,8.130000,5.660000,1270.801400
75%,7.582720e+05,0.000000e+00,3.132860e+02,9.574000e+03,0.000000,3.143000,156770.190000,0.000000,56.253000,1283.817000,...,41.500000,82.502000,4.210000,79.460000,0.829000,3.296952e+07,3.912804e+04,15.160000,15.575000,2883.024150
max,7.758668e+08,4.423623e+07,6.319461e+06,7.057132e+06,103719.000000,14817.000000,763598.600000,241758.230000,34536.890000,6601.110000,...,78.100000,100.000000,13.800000,86.750000,0.957000,7.975105e+09,1.349776e+06,78.080000,378.220000,10293.515000

In [51]:
#2 ANALIZZO LE COLONNE CONTINENT E LOCATION PER CONTROLLARE SE CI SONO DATI PUNTUALI E AGGREGATI
# Dati puntuali
puntuali = cv[~cv['location'].str.contains('Total|All|World', case=False, na=False)]
print("Esempio di dati puntuali:")
puntuali[['location', 'continent']].drop_duplicates()

Esempio di dati puntuali:

              location continent
0          Afghanistan      Asia
1674            Africa       NaN
3348           Albania    Europe
5022           Algeria    Africa
6696    American Samoa   Oceania
...                ...       ...
419856           Wales    Europe
422728  Western Sahara    Africa
424413           Yemen      Asia
426087          Zambia    Africa
427761        Zimbabwe    Africa

[252 rows x 2 columns]

In [52]:
# Dati aggregati
aggregati = cv[cv['location'].str.contains('Total|All|World', case=False, na=False)]
print("\nEsempio di dati aggregati:")
aggregati[['location', 'continent']]

Esempio di dati aggregati:

                location continent
235324  Marshall Islands   Oceania
235325  Marshall Islands   Oceania
235326  Marshall Islands   Oceania
235327  Marshall Islands   Oceania
235328  Marshall Islands   Oceania
...                  ...       ...
424408             World       NaN
424409             World       NaN
424410             World       NaN
424411             World       NaN
424412             World       NaN

[5032 rows x 2 columns]

In [53]:
# Per capire meglio cosa contengono
print(cv['continent'].unique())
print(cv['location'].unique())

['Asia' nan 'Europe' 'Africa' 'Oceania' 'North America' 'South America']
['Afghanistan' 'Africa' 'Albania' 'Algeria' 'American Samoa' 'Andorra'
 'Angola' 'Anguilla' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Asia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda'
 'Bhutan' 'Bolivia' 'Bonaire Sint Eustatius and Saba'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'East Timor' 'Ecuador' 'Egypt' 'El Salvador'
 'England' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia'
 'Europe' 'European Union (27)' 'Faroe Islands' 'Falkland Islands' 'Fiji'
 'Finland' 'France' 'French Guiana' 'French Polynesia' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada'
 'Guadeloupe' 'Guam' 'Guatemala' 'Guernsey' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'High-income countries' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Isle of Man'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania'
 'Low-income countries' 'Lower-middle-income countries' 'Luxembourg'
 'Macao' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Martinique' 'Mauritania' 'Mauritius' 'Mayotte'
 'Mexico' 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North America' 'North Korea' 'North Macedonia'
 'Northern Cyprus' 'Northern Ireland' 'Northern Mariana Islands' 'Norway'
 'Oceania' 'Oman' 'Pakistan' 'Palau' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Pitcairn' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Barthelemy' 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Martin (French part)' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Scotland' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South America' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan'
 'Tanzania' 'Thailand' 'Togo' 'Tokelau' 'Tonga' 'Trinidad and Tobago'
 'Tunisia' 'Turkey' 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu'
 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'United States Virgin Islands'
 'Upper-middle-income countries' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Vatican' 'Venezuela' 'Vietnam' 'Wales' 'Wallis and Futuna'
 'Western Sahara' 'World' 'Yemen' 'Zambia' 'Zimbabwe']

In [54]:
#2a La colonna total_cases ha dati cumulativi quindi va preso il valore massimo per continente
cv.loc[ cv["continent"].isna() ].groupby("location")["total_cases"].max()

location
Africa                            13145380.0
Asia                             301499099.0
Europe                           252916868.0
European Union (27)              185822587.0
High-income countries            429044049.0
Low-income countries               1944334.0
Lower-middle-income countries     91954400.0
North America                    124492666.0
Oceania                           15003352.0
South America                     68809418.0
Upper-middle-income countries    251753518.0
World                            775866783.0
Name: total_cases, dtype: float64

In [55]:
# Conto i valori unici
print(f"\nNumero di continenti: {cv['continent'].nunique()}")
print(f"Numero di location: {cv['location'].nunique()}")

Numero di continenti: 6
Numero di location: 255

In [56]:
# Valori nulli o anomali
null_new = cv['new_cases'].isnull().sum()
print(f"Numero di valori nulli in new_cases: {null_new}")

Numero di valori nulli in new_cases: 19276

In [57]:
# Analizzo eventuali valori negativi o molto elevati 
negativi = cv[cv['new_cases'] < 0]
print(f"Numero di valori negativi in new_cases: {len(negativi)}")
if len(negativi) > 0:
    print(negativi[['date', 'new_cases']])

Numero di valori negativi in new_cases: 0

In [58]:
#2b Calcolo del totale mondiale dei casi
world_total = cv[cv['location'].str.lower() == 'world']['total_cases'].max()
world_total

775866783.0

In [59]:
#calcolo la percentualeper ogni continente rispetto al totale mondiale del numero di casi
percentuali = (total_cases_continente
 / world_total) * 100
print("Percentuale dei casi rispetto al totale mondiale per continente:")
print(percentuali)

Percentuale dei casi rispetto al totale mondiale per continente:
continent
Africa            0.524931
Asia             12.808026
Europe            5.026313
North America    13.331777
Oceania           1.528763
South America     4.834840
Name: total_cases, dtype: float64

In [60]:
# Creiamo un DataFrame riassuntivo
risultato = pd.DataFrame({
    'Numero di casi': total_cases_continente,
    'Percentuale sul totale mondiale (%)': percentuali
})

print(risultato)

               Numero di casi  Percentuale sul totale mondiale (%)
continent
Africa              4072765.0                             0.524931
Asia               99373219.0                            12.808026
Europe             38997490.0                             5.026313
North America     103436829.0                            13.331777
Oceania            11861161.0                             1.528763
South America      37511921.0                             4.834840

In [61]:
italia_2022 = cv[(cv['location'] == 'Italy') & 
                 (pd.to_datetime(cv['date']).dt.year == 2022)]
# Rimuovi giorni senza nuove misurazioni
italia_2022 = italia_2022.dropna(subset=['new_cases'])
italia_2022['date'] = pd.to_datetime(italia_2022['date'])
italia_2022 = italia_2022.set_index("date")
italia_2022["new_cases"].isna().sum()  # non ci sono dati nulli

0

In [62]:
italia_2022["new_cases"].head(20)

date
2022-01-01          0.0
2022-01-02     644604.0
2022-01-03          0.0
2022-01-04          0.0
2022-01-05          0.0
2022-01-06          0.0
2022-01-07          0.0
2022-01-08          0.0
2022-01-09    1014262.0
2022-01-10          0.0
2022-01-11          0.0
2022-01-12          0.0
2022-01-13          0.0
2022-01-14          0.0
2022-01-15          0.0
2022-01-16    1268153.0
2022-01-17          0.0
2022-01-18          0.0
2022-01-19          0.0
2022-01-20          0.0
Name: new_cases, dtype: float64

In [63]:
# Filtra i dati per l'Italia nel 2022
italia_2022 = cv[(cv['location'] == 'Italy') & (pd.to_datetime(cv['date']).dt.year == 2022)]

# Rimuovi le righe con new_cases uguale a 0
italia_2022 = italia_2022[italia_2022['new_cases'] != 0]

# Assicurati che la colonna 'date' sia in formato datetime
italia_2022['date'] = pd.to_datetime(italia_2022['date'])
italia_2022

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
186003,ITA,Europe,Italy,2022-01-02,6267035.0,644604.0,92086.286,137513.0,983.0,140.429,...,27.8,NaN,3.18,83.51,0.892,59037472,168226.30,12.99,8.06,2849.4834
186010,ITA,Europe,Italy,2022-01-09,7281297.0,1014262.0,144894.571,138881.0,1368.0,195.429,...,27.8,NaN,3.18,83.51,0.892,59037472,168831.80,12.89,3.94,2859.7395
186017,ITA,Europe,Italy,2022-01-16,8549450.0,1268153.0,181164.714,140856.0,1975.0,282.143,...,27.8,NaN,3.18,83.51,0.892,59037472,170089.10,12.83,8.03,2881.0361
186024,ITA,Europe,Italy,2022-01-23,9781191.0,1231741.0,175963.000,143296.0,2440.0,348.571,...,27.8,NaN,3.18,83.51,0.892,59037472,171694.19,12.80,10.40,2908.2239
186031,ITA,Europe,Italy,2022-01-30,10821375.0,1040184.0,148597.714,145914.0,2618.0,374.000,...,27.8,NaN,3.18,83.51,0.892,59037472,174151.69,12.84,16.50,2949.8500
186038,ITA,Europe,Italy,2022-02-06,11542793.0,721418.0,103059.714,148542.0,2628.0,375.429,...,27.8,NaN,3.18,83.51,0.892,59037472,176219.19,12.85,13.98,2984.8700
186045,ITA,Europe,Italy,2022-02-13,12053330.0,510537.0,72933.857,150824.0,2282.0,326.000,...,27.8,NaN,3.18,83.51,0.892,59037472,177489.48,12.81,8.88,3006.3870
186052,ITA,Europe,Italy,2022-02-20,12427773.0,374443.0,53491.857,152848.0,2024.0,289.143,...,27.8,NaN,3.18,83.51,0.892,59037472,178007.39,12.72,3.66,3015.1594
186059,ITA,Europe,Italy,2022-02-27,12732680.0,304907.0,43558.143,154416.0,1568.0,224.000,...,27.8,NaN,3.18,83.51,0.892,59037472,178015.30,12.60,0.06,3015.2935
186066,ITA,Europe,Italy,2022-03-06,12990223.0,257543.0,36791.857,155782.0,1366.0,195.143,...,27.8,NaN,3.18,83.51,0.892,59037472,178133.80,12.48,0.86,3017.3005
186073,ITA,Europe,Italy,2022-03-13,13323128.0,332905.0,47557.857,156782.0,1000.0,142.857,...,27.8,NaN,3.18,83.51,0.892,59037472,178704.89,12.40,4.22,3026.9739
186080,ITA,Europe,Italy,2022-03-20,13800179.0,477051.0,68150.143,157692.0,910.0,130.000,...,27.8,NaN,3.18,83.51,0.892,59037472,179598.19,12.35,6.79,3042.1050
186087,ITA,Europe,Italy,2022-03-27,14304111.0,503932.0,71990.286,158700.0,1008.0,144.000,...,27.8,NaN,3.18,83.51,0.892,59037472,180634.89,12.32,8.20,3059.6650
186094,ITA,Europe,Italy,2022-04-03,14790806.0,486695.0,69527.857,159666.0,966.0,138.000,...,27.8,NaN,3.18,83.51,0.892,59037472,181854.39,12.30,9.68,3080.3215
186101,ITA,Europe,Italy,2022-04-10,15238128.0,447322.0,63903.143,160658.0,992.0,141.714,...,27.8,NaN,3.18,83.51,0.892,59037472,183257.10,12.29,11.37,3104.0810
186108,ITA,Europe,Italy,2022-04-17,15659835.0,421707.0,60243.857,161602.0,944.0,134.857,...,27.8,NaN,3.18,83.51,0.892,59037472,184686.80,12.28,11.80,3128.2979
186115,ITA,Europe,Italy,2022-04-24,16079209.0,419374.0,59910.571,162609.0,1007.0,143.857,...,27.8,NaN,3.18,83.51,0.892,59037472,185829.89,12.26,9.59,3147.6600
186122,ITA,Europe,Italy,2022-05-01,16463200.0,383991.0,54855.857,163507.0,898.0,128.286,...,27.8,NaN,3.18,83.51,0.892,59037472,186897.39,12.24,9.10,3165.7417
186129,ITA,Europe,Italy,2022-05-08,16767773.0,304573.0,43510.429,164417.0,910.0,130.000,...,27.8,NaN,3.18,83.51,0.892,59037472,187992.30,12.22,9.48,3184.2876
186136,ITA,Europe,Italy,2022-05-15,17030147.0,262374.0,37482.000,165182.0,765.0,109.286,...,27.8,NaN,3.18,83.51,0.892,59037472,189161.39,12.20,10.12,3204.0903
186143,ITA,Europe,Italy,2022-05-22,17229263.0,199116.0,28445.143,165918.0,736.0,105.143,...,27.8,NaN,3.18,83.51,0.892,59037472,190435.48,12.20,11.35,3225.6714
186150,ITA,Europe,Italy,2022-05-29,17373741.0,144478.0,20639.714,166542.0,624.0,89.143,...,27.8,NaN,3.18,83.51,0.892,59037472,191401.39,12.17,8.53,3242.0322
186157,ITA,Europe,Italy,2022-06-05,17490451.0,116710.0,16672.857,166922.0,380.0,54.286,...,27.8,NaN,3.18,83.51,0.892,59037472,191961.69,12.12,5.05,3251.5227
186164,ITA,Europe,Italy,2022-06-12,17634065.0,143614.0,20516.286,167365.0,443.0,63.286,...,27.8,NaN,3.18,83.51,0.892,59037472,192269.19,12.05,2.71,3256.7314
186171,ITA,Europe,Italy,2022-06-19,17844905.0,210840.0,30120.000,167703.0,338.0,48.286,...,27.8,NaN,3.18,83.51,0.892,59037472,193016.69,12.01,6.63,3269.3928
186178,ITA,Europe,Italy,2022-06-26,18184917.0,340012.0,48573.143,168058.0,355.0,50.714,...,27.8,NaN,3.18,83.51,0.892,59037472,194318.98,12.01,11.69,3291.4517
186185,ITA,Europe,Italy,2022-07-03,18695954.0,511037.0,73005.286,168488.0,430.0,61.429,...,27.8,NaN,3.18,83.51,0.892,59037472,196421.28,12.06,18.76,3327.0613
186192,ITA,Europe,Italy,2022-07-10,19357938.0,661984.0,94569.143,169062.0,574.0,82.000,...,27.8,NaN,3.18,83.51,0.892,59037472,199004.38,12.13,22.52,3370.8147
186199,ITA,Europe,Italy,2022-07-17,20076863.0,718925.0,102703.571,169846.0,784.0,112.000,...,27.8,NaN,3.18,83.51,0.892,59037472,200827.08,12.16,15.56,3401.6882
186206,ITA,Europe,Italy,2022-07-24,20608190.0,531327.0,75903.857,170798.0,952.0,136.000,...,27.8,NaN,3.18,83.51,0.892,59037472,205056.78,12.33,36.86,3473.3328
186213,ITA,Europe,Italy,2022-07-31,21002773.0,394583.0,56369.000,172003.0,1205.0,172.143,...,27.8,NaN,3.18,83.51,0.892,59037472,209278.48,12.49,35.51,3544.8416
186220,ITA,Europe,Italy,2022-08-07,21286771.0,283998.0,40571.143,173062.0,1059.0,151.286,...,27.8,NaN,3.18,83.51,0.892,59037472,212137.58,12.57,24.28,3593.2700
186227,ITA,Europe,Italy,2022-08-14,21480076.0,193305.0,27615.000,173982.0,920.0,131.429,...,27.8,NaN,3.18,83.51,0.892,59037472,213148.48,12.54,8.33,3610.3930
186234,ITA,Europe,Italy,2022-08-21,21630998.0,150922.0,21560.286,174659.0,677.0,96.714,...,27.8,NaN,3.18,83.51,0.892,59037472,214400.39,12.53,11.06,3631.5984
186241,ITA,Europe,Italy,2022-08-28,21788862.0,157864.0,22552.000,175306.0,647.0,92.429,...,27.8,NaN,3.18,83.51,0.892,59037472,215431.10,12.51,9.45,3649.0570
186248,ITA,Europe,Italy,2022-09-04,21925073.0,136211.0,19458.714,175802.0,496.0,70.857,...,27.8,NaN,3.18,83.51,0.892,59037472,216245.00,12.48,7.49,3662.8433
186255,ITA,Europe,Italy,2022-09-11,22035717.0,110644.0,15806.286,176175.0,373.0,53.286,...,27.8,NaN,3.18,83.51,0.892,59037472,217456.70,12.47,11.34,3683.3674
186262,ITA,Europe,Italy,2022-09-18,22148935.0,113218.0,16174.000,176546.0,371.0,53.000,...,27.8,NaN,3.18,83.51,0.892,59037472,218356.61,12.45,8.38,3698.6104
186269,ITA,Europe,Italy,2022-09-25,22284812.0,135877.0,19411.000,176867.0,321.0,45.857,...,27.8,NaN,3.18,83.51,0.892,59037472,218970.31,12.41,5.65,3709.0056
186276,ITA,Europe,Italy,2022-10-02,22500346.0,215534.0,30790.571,177130.0,263.0,37.571,...,27.8,NaN,3.18,83.51,0.892,59037472,220159.61,12.40,10.87,3729.1504
186283,ITA,Europe,Italy,2022-10-09,22781293.0,280947.0,40135.286,177478.0,348.0,49.714,...,27.8,NaN,3.18,83.51,0.892,59037472,221405.90,12.39,11.13,3750.2605
186290,ITA,Europe,Italy,2022-10-16,23069745.0,288452.0,41207.429,177956.0,478.0,68.286,...,27.8,NaN,3.18,83.51,0.892,59037472,222069.20,12.35,5.66,3761.4958
186297,ITA,Europe,Italy,2022-10-23,23322522.0,252777.0,36111.000,178542.0,586.0,83.714,...,27.8,NaN,3.18,83.51,0.892,59037472,222994.90,12.32,7.97,3777.1758
186304,ITA,Europe,Italy,2022-10-30,23531023.0,208501.0,29785.857,179101.0,559.0,79.857,...,27.8,NaN,3.18,83.51,0.892,59037472,223748.61,12.28,6.41,3789.9421
186311,ITA,Europe,Italy,2022-11-06,23697012.0,165989.0,23712.714,179655.0,554.0,79.143,...,27.8,NaN,3.18,83.51,0.892,59037472,224339.70,12.24,5.13,3799.9543
186318,ITA,Europe,Italy,2022-11-13,23878193.0,181181.0,25883.000,180139.0,484.0,69.143,...,27.8,NaN,3.18,83.51,0.892,59037472,225424.80,12.22,9.18,3818.3342
186325,ITA,Europe,Italy,2022-11-20,24099206.0,221013.0,31573.286,180679.0,540.0,77.143,...,27.8,NaN,3.18,83.51,0.892,59037472,226960.50,12.22,12.77,3844.3464
186332,ITA,Europe,Italy,2022-11-27,24327664.0,228458.0,32636.857,181271.0,592.0,84.571,...,27.8,NaN,3.18,83.51,0.892,59037472,228611.40,12.23,13.68,3872.3103
186339,ITA,Europe,Italy,2022-12-04,24555456.0,227792.0,32541.714,181944.0,673.0,96.143,...,27.8,NaN,3.18,83.51,0.892,59037472,231214.31,12.29,21.51,3916.3992
186346,ITA,Europe,Italy,2022-12-11,24753889.0,198433.0,28347.571,182619.0,675.0,96.429,...,27.8,NaN,3.18,83.51,0.892,59037472,233929.61,12.35,21.78,3962.3920
186353,ITA,Europe,Italy,2022-12-18,24928076.0,174187.0,24883.857,183370.0,751.0,107.286,...,27.8,NaN,3.18,83.51,0.892,59037472,236558.70,12.41,20.43,4006.9246
186360,ITA,Europe,Italy,2022-12-25,25060503.0,132427.0,18918.143,184168.0,798.0,114.000,...,27.8,NaN,3.18,83.51,0.892,59037472,238657.61,12.43,15.74,4042.4768

In [64]:
#3a. Evoluzione dei casi totali dall'inizio alla fine dell'anno
plt.figure(figsize=(12,6))
plt.plot(italia_2022['date'], italia_2022['total_cases'], label='Casi totali')
plt.xlabel('Data')
plt.ylabel('Numero totale di casi')
plt.title("Evoluzione dei casi totali in Italia nel 2022")
plt.legend()
plt.grid(True)
plt.show()

NameError: name 'plt' is not defined

In [65]:
# 3b. Numero di nuovi casi rispetto alla data
plt.figure(figsize=(12,6))
plt.bar(italia_2022['date'], italia_2022['new_cases'], color='red', label='Nuovi casi')
plt.xlabel('Data')
plt.ylabel('Nuovi casi')
plt.title("Numero di nuovi casi in Italia nel 2022")
plt.legend()
plt.grid(True)
plt.show()

NameError: name 'plt' is not defined

In [66]:
#4 Riguardo le nazioni di Italia, Germania e Francia:
# Definire il periodo desiderato
start_date = '2022-05-01'
end_date = '2023-04-30'
# Filtrare i dati per le nazioni e il periodo
nazioni = ['Italy', 'Germany', 'France']
cv_periodo = cv[(cv['location'].isin(nazioni)) & 
                (cv['date'] >= start_date) & 
                (cv['date'] <= end_date)]
cv_periodo

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
131214,FRA,Europe,France,2022-05-01,27742592.0,376510.0,53787.143,146744.0,867.0,123.857,...,35.6,NaN,5.98,82.66,0.901,67813000,89536.72,6.19,6.24,1385.4463
131215,FRA,Europe,France,2022-05-02,27742592.0,0.0,53787.143,146744.0,0.0,123.857,...,35.6,NaN,5.98,82.66,0.901,67813000,NaN,NaN,NaN,NaN
131216,FRA,Europe,France,2022-05-03,27742592.0,0.0,53787.143,146744.0,0.0,123.857,...,35.6,NaN,5.98,82.66,0.901,67813000,NaN,NaN,NaN,NaN
131217,FRA,Europe,France,2022-05-04,27742592.0,0.0,53787.143,146744.0,0.0,123.857,...,35.6,NaN,5.98,82.66,0.901,67813000,NaN,NaN,NaN,NaN
131218,FRA,Europe,France,2022-05-05,27742592.0,0.0,53787.143,146744.0,0.0,123.857,...,35.6,NaN,5.98,82.66,0.901,67813000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186482,ITA,Europe,Italy,2023-04-26,25772459.0,0.0,3808.429,189627.0,0.0,26.714,...,27.8,NaN,3.18,83.51,0.892,59037472,NaN,NaN,NaN,NaN
186483,ITA,Europe,Italy,2023-04-27,25772459.0,0.0,3808.429,189627.0,0.0,26.714,...,27.8,NaN,3.18,83.51,0.892,59037472,NaN,NaN,NaN,NaN
186484,ITA,Europe,Italy,2023-04-28,25772459.0,0.0,3808.429,189627.0,0.0,26.714,...,27.8,NaN,3.18,83.51,0.892,59037472,NaN,NaN,NaN,NaN
186485,ITA,Europe,Italy,2023-04-29,25772459.0,0.0,3808.429,189627.0,0.0,26.714,...,27.8,NaN,3.18,83.51,0.892,59037472,NaN,NaN,NaN,NaN
186486,ITA,Europe,Italy,2023-04-30,25795509.0,23050.0,3292.857,189786.0,159.0,22.714,...,27.8,NaN,3.18,83.51,0.892,59037472,241866.50,11.17,3.12,4108.4316

In [67]:
# Creare una lista di dati per il boxplot: uno per ogni nazione
dati_boxplot = [cv_periodo[cv_periodo['location'] == nazione]['icu_patients'].dropna() for nazione in nazioni]

#4a Creare il boxplot
plt.boxplot(dati_boxplot, tick_labels=nazioni)
plt.title("Distribuzione dei pazienti in terapia intensiva (ICU) da maggio 2022 ad aprile 2023")
plt.ylabel("Numero di pazienti ICU")
plt.xlabel("Nazione")
plt.grid(True)
plt.show()

NameError: name 'plt' is not defined

In [68]:
#4b Si nota che la Germania presenta una distribuzione più ampia e mediana più elevata rispetto a Italia e Francia,
#indicando un maggior numero di pazienti in terapia intensiva durante il periodo considerato.

In [69]:
#5a Somma degli ospedalizzati nell anno 2021 in Italia,Germania,Francia e Spagna
# Assicurati che la colonna 'date' sia in formato datetime
cv['date'] = pd.to_datetime(cv['date'], errors='coerce')

#5 Riguardo le nazioni di Italia, Germania, Francia e Spagna in tutto il 2021:
# Filtrare i dati per le nazioni e il periodo del 2021
nazioni = ['Italy', 'Germany', 'France', 'Spain']
start_date = '2021-01-01'
end_date = '2021-12-31'

cv_2021 = cv[(cv['location'].isin(nazioni)) & 
             (cv['date'] >= start_date) & 
             (cv['date'] <= end_date)]
cv_2021

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
130729,FRA,Europe,France,2021-01-01,2338258.0,0.0,11984.000,63534.0,0.0,445.571,...,35.6,NaN,5.98,82.66,0.901,67813000,NaN,NaN,NaN,NaN
130730,FRA,Europe,France,2021-01-02,2338258.0,0.0,11984.000,63534.0,0.0,445.571,...,35.6,NaN,5.98,82.66,0.901,67813000,NaN,NaN,NaN,NaN
130731,FRA,Europe,France,2021-01-03,2427206.0,88948.0,12706.857,66449.0,2915.0,416.429,...,35.6,NaN,5.98,82.66,0.901,67813000,47362.797,7.68,11.25,733.9491
130732,FRA,Europe,France,2021-01-04,2427206.0,0.0,12706.857,66449.0,0.0,416.429,...,35.6,NaN,5.98,82.66,0.901,67813000,NaN,NaN,NaN,NaN
130733,FRA,Europe,France,2021-01-05,2427206.0,0.0,12706.857,66449.0,0.0,416.429,...,35.6,NaN,5.98,82.66,0.901,67813000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363308,ESP,Europe,Spain,2021-12-27,6100138.0,0.0,70149.429,91275.0,0.0,83.429,...,31.4,NaN,2.97,83.56,0.904,47558632,NaN,NaN,NaN,NaN
363309,ESP,Europe,Spain,2021-12-28,6100138.0,0.0,70149.429,91275.0,0.0,83.429,...,31.4,NaN,2.97,83.56,0.904,47558632,NaN,NaN,NaN,NaN
363310,ESP,Europe,Spain,2021-12-29,6100138.0,0.0,70149.429,91275.0,0.0,83.429,...,31.4,NaN,2.97,83.56,0.904,47558632,NaN,NaN,NaN,NaN
363311,ESP,Europe,Spain,2021-12-30,6100138.0,0.0,70149.429,91275.0,0.0,83.429,...,31.4,NaN,2.97,83.56,0.904,47558632,NaN,NaN,NaN,NaN
363312,ESP,Europe,Spain,2021-12-31,6100138.0,0.0,70149.429,91275.0,0.0,83.429,...,31.4,NaN,2.97,83.56,0.904,47558632,NaN,NaN,NaN,NaN

In [70]:
#Siccome i dati sono cumulativi va preso il valore dell'ultimo giorno del 2021
ospedalizzati_per_nazione = cv_2021.groupby('location')['hosp_patients'].last().reset_index()
print(ospedalizzati_per_nazione)

  location  hosp_patients
0   France        18715.0
1  Germany            NaN
2    Italy        12410.0
3    Spain         8976.0

In [71]:
plt.bar(ospedalizzati_per_nazione['location'], ospedalizzati_per_nazione['hosp_patients'])
# Aggiungi etichette e titolo
plt.xlabel('Nazione')
plt.ylabel('Somma totale di pazienti ospedalizzati')
plt.title('Totale pazienti ospedalizzati nel 2021 per nazione')
plt.show()

NameError: name 'plt' is not defined

In [72]:
#5b Gestione dati nulli
nulli = cv_2021['hosp_patients'].isnull()
numero_nulli = nulli.sum()
numero_nulli
#Si deduce che sono presenti 365 valori nulli solo in Germania nell anno 2021 che posso recuperarli da un'altra fonte covid-hospitalizations.csv
#caricando il dataset,unendo i due dataset(covid_data e covid_hospitalizations) e riempiendo i dati mancanti

365