In [8]:
import os
import dotenv
import sqlalchemy
import pandas as pd

# Percorso completo del file .env
file_path = r"C:\Users\paster\cred.env"

# Carica le variabili di ambiente dal file specificato
dotenv.load_dotenv(dotenv_path=file_path, override=True)

# Ottieni le variabili di ambiente
username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

# Crea la stringa di connessione
connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
print(connection_string)

# Crea l'engine per SQLAlchemy
db_engine = sqlalchemy.create_engine(connection_string)
query="SELECT * FROM dimproduct"
dimproduct=pd.read_sql(query,db_engine)
dimproduct

mysql+pymysql://root:Teresa.1993@localhost/adventurework

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [9]:
# Arrotonda i valori di DealerPrice alle due cifre decimali
dimproduct['DealerPrice'].round(2)

# Arrotonda al valore intero più vicino
dimproduct['DealerPrice_rounded'].round()

# Limita i valori tra 0 e 1000 usando .clip()
dimproduct['DealerPrice_int'].clip(lower=0, upper=1000)

KeyError: 'DealerPrice_rounded'

In [ ]:
#Modifico la colonna DealerPrice 
dimproduct['DealerPrice_rounded'] = dimproduct['DealerPrice'].round(2)
dimproduct['DealerPrice_int'] = dimproduct['DealerPrice_rounded'].round()
dimproduct['DealerPrice_clipped'] = dimproduct['DealerPrice_int'].clip(lower=0, upper=1000)

In [ ]:
#Fare tutto in una sola riga
dimproduct['DealerPrice'].round(2).round().clip(0, 1000)

In [ ]:
# aggiornare direttamente la colonna originale, puoi fare:
dimproduct['DealerPrice'] = dimproduct['DealerPrice'].round(2).round().clip(0, 1000)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#DataFrame sintetico, che contiene i guadagni mensili di diverse annate, con il seguente codice:
years = 5 
guadagni = pd.DataFrame({"Mese": list("GFMAMGLASOND"*years), 
                         "Anno": np.repeat(list(range(years)), 12), 
                        "Valore": np.random.randint(800, 5000, 12*years)})
print(guadagni)

In [ ]:
# Somma cumulativa di tutti i guadagni
guadagni['Somma_Cumulativa_Totale'] = guadagni['Valore'].cumsum()
guadagni

In [ ]:
# Raggruppa per anno e calcola la somma cumulativa all'interno di ogni gruppo
guadagni['Somma_Cumulativa_Per_Anno'] = guadagni.groupby('Anno')['Valore'].cumsum()
guadagni

In [ ]:
query="SELECT * FROM dimcustomer"
dimcustomer=pd.read_sql(query,db_engine)
dimcustomer

In [ ]:
# Trasformiamo i nomi e i cognomi
dimcustomer['FirstName'] = dimcustomer['FirstName'].str.lower() #lettere minuscole
dimcustomer['LastName'] = dimcustomer['LastName'].str.upper() #lettere maiuscole
dimcustomer

In [ ]:
# Estraiamo nome utente e dominio dall'email
email_split = dimcustomer['EmailAddress'].str.split('@', expand=True)
dimcustomer['Email_User'] = email_split[0]
dimcustomer['Email_Domain'] = email_split[1]
dimcustomer

In [ ]:
# Estraiamo le parti del numero di telefono
# Prima, rimuoviamo eventuali spazi e poi split
dimcustomer['Phone_Parts'] = dimcustomer['Phone'].str.replace(' ', '').str.split(r'[\(\)\-]', expand=False)
dimcustomer

In [ ]:
# Estraiamo gli indirizzi email che contengono "21"
emails_with_21 = dimcustomer[dimcustomer['EmailAddress'].str.contains('21')]['EmailAddress']
print(emails_with_21 )

In [ ]:
# 1. Estraiamo tutti gli indirizzi e-mail che contengono "20" o "10"
emails_with_20_or_10 = dimcustomer[dimcustomer['EmailAddress'].str.contains('20|10', na=False)]
print("Indirizzi e-mail che contengono '20' o '10':")
print(emails_with_20_or_10['EmailAddress'])

In [ ]:
# Calcolare la lunghezza di ogni indirizzo e-mail
dimcustomer['Email_Length'] = dimcustomer['EmailAddress'].str.len()
# Ordinare il DataFrame per lunghezza dell'email in ordine decrescente e prendere i primi 5
top_5_longest_alt = dimcustomer.sort_values(by='Email_Length', ascending=False).head(5)

# Ordinare il DataFrame per lunghezza dell'email in ordine crescente e prendere i primi 5
top_5_shortest_alt = dimcustomer.sort_values(by='Email_Length', ascending=True).head(5)

print("I cinque indirizzi e-mail più lunghi:")
print(top_5_longest_alt['EmailAddress'])

print("I cinque indirizzi e-mail più corti:")
print(top_5_shortest_alt['EmailAddress'])

In [ ]:
# Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com"
dimcustomer['Email_Modified'] = dimcustomer['EmailAddress'].str.replace('adventure-works.com', 'aw-db.com', regex=False)
print(dimcustomer['Email_Modified'] )

In [ ]:
# Dalla colonna AddressLine1, estraiamo tutti gli indirizzi che contengono "Street"
addresses_with_street = dimcustomer[dimcustomer['AddressLine1'].str.contains('Street', na=False)]
print("Indirizzi in AddressLine1 che contengono 'Street':")
print(addresses_with_street['AddressLine1'])

In [ ]:
import pandas as pd
facebook=pd.read_csv(r'C:\Users\paster\Downloads\datasets (3)\datasets\beginner_datasets\facebook.csv')
facebook

In [ ]:
#Converti la colonna 'status_published' in formato datetime
facebook['status_published'] = pd.to_datetime(facebook['status_published'])
print(facebook['status_published'])

In [ ]:
# Ottieni informazioni specifiche sulle date
facebook['year'] = facebook['status_published'].dt.year
facebook['month'] = facebook['status_published'].dt.month
facebook['day'] = facebook['status_published'].dt.day
facebook['dayofweek'] = facebook ['status_published'].dt.dayofweek  # 0=Lunedì, 6=Domenica
facebook['dayofyear'] = facebook['status_published'].dt.dayofyear

In [ ]:
facebook.head()

In [ ]:
# Filtra i post del 2012
posts_2012 = facebook[facebook['status_published'].dt.year == 2012]
posts_2012

In [ ]:
# Filtra i post di maggio 2018
posts_maggio_2018 = facebook[(facebook['status_published'].dt.year == 2018) & (facebook['status_published'].dt.month == 5)]
posts_maggio_2018

In [ ]:
# Crea una colonna per il giorno della settimana (0=lunedì, 6=domenica)
facebook['dayofweek'] = facebook['status_published'].dt.dayofweek
facebook['dayofweek']

# seleziona i post nel weekend (sabato=5, domenica=6)
weekend_posts = facebook[facebook['dayofweek'].isin([5, 6])].shape[0]

# Seleziona i post nei giorni feriali (da lunedì a venerdì)
weekday_posts = facebook[~facebook['dayofweek'].isin([5, 6])].shape[0]

print(f"Post nel weekend: {weekend_posts}")
print(f"Post nei giorni feriali: {weekday_posts}")

In [ ]:
#Troviamo il primo e l'ultimo post pubblicati in ogni anno:
# Raggruppa per anno e trova il primo e l'ultimo post
primo_post_per_anno = facebook.groupby(facebook['status_published'].dt.year)['status_published'].min()
ultimo_post_per_anno = facebook.groupby(facebook['status_published'].dt.year)['status_published'].max()

print("Primo post di ogni anno:\n", primo_post_per_anno)
print("Ultimo post di ogni anno:\n", ultimo_post_per_anno)

In [ ]:
# Conta i diversi tipi di post
tipi_post = facebook['status_type'].value_counts()

print("Tipi di post e rispettivi conteggi:\n", tipi_post)

In [ ]:
path=(r'C:\Users\paster\Downloads\datasets (2)\pokemon.csv')
df=pd.read_csv(path)
df

In [25]:
#Controllare se ci sono valori nulli e contarli in ogni colonna:
nulls = df.isnull().sum()
print(nulls)

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
type                    0
dtype: int64

In [26]:
df['Has_Type_2'] = df['Type 2'].notnull()
df['Has_Type_2']

KeyError: 'Type 2'

In [27]:
#Eliminare le righe che contengono valori nulli:
df_clean = df.dropna()
df_clean

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [28]:
path=(r'C:\Users\paster\Downloads\datasets (3)\datasets\beginner_datasets\automobile.csv')
df=pd.read_csv(path)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [29]:
#Verificare se ci sono valori nulli e quanti:
nulls = df.isnull().sum()
print("Valori nulli per colonna:\n", nulls)

Valori nulli per colonna:
 symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [30]:
#Trovare le righe con valori nulli nella colonna num-of-doors
null_num_of_doors = df[df['num-of-doors'].isnull()]
null_num_of_doors

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
26,1,148.0,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
60,0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795

In [31]:
print(df['num-of-doors'].value_counts())

num-of-doors
four    114
two      86
Name: count, dtype: int64

In [32]:
# Trova il valore più frequente usando value_counts()
most_common_value = df['num-of-doors'].value_counts().idxmax()
# Sostituisci i valori nulli con il valore più frequente
df['num-of-doors'].fillna(most_common_value, inplace=True)
df['num-of-doors']

C:\Users\paster\AppData\Local\Temp\ipykernel_11996\2135087127.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['num-of-doors'].fillna(most_common_value, inplace=True)

0       two
1       two
2       two
3      four
4      four
       ...
197    four
198    four
199    four
200    four
201    four
Name: num-of-doors, Length: 202, dtype: object

In [33]:
import numpy as np
import pandas as pd

# Ricrea il DataFrame correttamente
temp = pd.DataFrame({
    "Giorno": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]
})

# Verifica il tipo di temp
print(type(temp))  # dovrebbe mostrare <class 'pandas.DataFrame'>

# Calcola la media ignorando NaN
media_temp = temp['Temperature'].mean()

# Sostituisci NaN con la media
temp['Temperature'].fillna(media_temp)

# Stampa il DataFrame aggiornato
print(temp)

<class 'pandas.core.frame.DataFrame'>
    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3          NaN
4        4         21.0
5        5         20.0
6        6         20.0
7        7          NaN
8        8         21.0
9        9         23.0
10      10          NaN
11      11         23.0
12      12         24.0

In [46]:
import os
import pandas as pd

# Percorso alla directory dei dataset
directory_path = r"C:\Users\paster\Downloads\datasets (3)\__MACOSX\datasets\beginner_datasets,encoding="

# Lista dei file nella directory
file_list = os.listdir(directory_path)

# Lista per i dataset con dati nulli
datasets_con_nulli = []

for filename in file_list:
    # Costruisci il percorso completo del file
    filepath = os.path.join(directory_path, filename)

    # Carica il dataset (assumendo siano CSV)
    try:
        df = pd.read_csv(filepath)

        # Verifica se ci sono valori nulli nel dataset
        if df.isnull().values.any():
            datasets_con_nulli.append(filename)
    except Exception as e:
        print(f"Impossibile leggere {filename}: {e}")

# Risultati
print("Dataset con dati nulli:")
for dataset in datasets_con_nulli:
    print(dataset)

Impossibile leggere ._amazon.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._anomaly.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._asia_gdp.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._automobile.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._bank.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._bike.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._blood.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._boston.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._cancer.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._concrete.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._credit.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._diabetes.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._diamond.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._elections.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._electrical_grid.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._employee.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._energy.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._facebook.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._forest.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._france.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._germany.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._glass.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._gold.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._heart.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._heart_disease.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._hepatitis.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._house.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._income.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._insurance.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._ipl.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._iris.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._jewellery.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._juice.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._kiva.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._mice.csv: 'utf-8' codec can't decode byte 0xe2 in position 37: invalid continuation byte
Impossibile leggere ._migration.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._nba.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._parkinsons.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._pokemon.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._poker.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._population.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._public_health.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._pycaret_datasets.xlsx: 'utf-8' codec can't decode byte 0xe2 in position 37: invalid continuation byte
Impossibile leggere ._questions.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._satellite.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._seeds.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._spx.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._traffic.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._tweets.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._wholesale.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._wikipedia.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Impossibile leggere ._wine.csv: 'utf-8' codec can't decode byte 0xb0 in position 45: invalid start byte
Dataset con dati nulli:

In [41]:
import os
import pandas as pd

directory_path =  r'C:\Users\paster\Downloads\datasets (3)\datasets\beginner_datasets'
file_list = os.listdir(directory_path)

for filename in file_list:
    if filename.endswith('.csv') and not filename.startswith('._'):
        filepath = os.path.join(directory_path, filename)
        try:
            df = pd.read_csv(filepath)
            nulls_per_column = df.isnull().sum()
            total_nulls = nulls_per_column.sum()
            if total_nulls > 0:
                print(f"{filename} ha {total_nulls} valori nulli distribuiti così:\n{nulls_per_column}\n")
        except Exception as e:
            print(f"Errore nel leggere {filename}: {e}")

automobile.csv ha 39 valori nulli distribuiti così:
symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

elections.csv ha 52 valori nulli distribuiti così:
fips                   0
area_name              0
state_abbreviation    52
PST045214              0
PST040210              0
PST120214              0
POP010210              0
AGE135214              0
AGE295214              0
AGE775214              0
SEX255214              0
RHI125214              0
RHI225214              0
RHI325214              0
RHI425214              0
RHI525214              0
RHI625214              0
RHI725214              0
RHI825214              0
POP715213              0
POP645213              0
POP815213              0
EDU635213              0
EDU685213              0
VET605213              0
LFE305213              0
HSG010214              0
HSG445213              0
HSG096213              0
HSG495213              0
HSD410213              0
HSD310213              0
INC910213              0
INC110213              0
PVY020213              0
BZA010213              0
BZA110213              0
BZA115213              0
NES010213              0
SBO001207              0
SBO315207              0
SBO115207              0
SBO215207              0
SBO515207              0
SBO415207              0
SBO015207              0
MAN450207              0
WTN220207              0
RTN130207              0
RTN131207              0
AFN120207              0
BPS030214              0
LND110210              0
POP060210              0
dtype: int64

france.csv ha 66 valori nulli distribuiti così:
InvoiceNo       0
StockCode       0
Description     0
Quantity        0
InvoiceDate     0
UnitPrice       0
CustomerID     66
Country         0
dtype: int64

hepatitis.csv ha 153 valori nulli distribuiti così:
Class               0
AGE                 0
SEX                 0
STEROID             1
ANTIVIRALS          0
FATIGUE             0
MALAISE             0
ANOREXIA            0
LIVER BIG           9
LIVER FIRM         10
SPLEEN PALPABLE     4
SPIDERS             4
ASCITES             4
VARICES             4
BILIRUBIN           5
ALK PHOSPHATE      28
SGOT                3
ALBUMIN            15
PROTIME            66
HISTOLOGY           0
dtype: int64

house.csv ha 7829 valori nulli distribuiti così:
Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

income.csv ha 4262 valori nulli distribuiti così:
age                  0
workclass         1836
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
income >50K          0
dtype: int64

mice.csv ha 1396 valori nulli distribuiti così:
MouseID      0
DYRK1A_N     3
ITSN1_N      3
BDNF_N       3
NR1_N        3
            ..
CaNA_N       0
Genotype     0
Treatment    0
Behavior     0
class        0
Length: 82, dtype: int64

nba.csv ha 11 valori nulli distribuiti così:
Name            0
GP              0
MIN             0
PTS             0
FGM             0
FGA             0
FG%             0
3P Made         0
3PA             0
3P%            11
FTM             0
FTA             0
FT%             0
OREB            0
DREB            0
REB             0
AST             0
STL             0
BLK             0
TOV             0
TARGET_5Yrs     0
dtype: int64

pokemon.csv ha 386 valori nulli distribuiti così:
#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

population.csv ha 12 valori nulli distribuiti così:
Country Name    0
1961            0
1962            0
1963            0
1964            0
1965            0
1966            0
1967            0
1968            0
1969            0
1970            0
1971            0
1972            0
1973            0
1974            0
1975            0
1976            0
1977            0
1978            0
1979            0
1980            0
1981            0
1982            0
1983            0
1984            0
1985            0
1986            0
1987            0
1988            0
1989            0
1990            0
1991            1
1992            1
1993            1
1994            1
1995            1
1996            0
1997            0
1998            0
1999            0
2000            0
2001            1
2002            0
2003            0
2004            0
2005            0
2006            0
2007            1
2008            0
2009            0
2010            0
2011            1
2012            1
2013            1
2014            1
2015            1
dtype: int64

seeds.csv ha 4 valori nulli distribuiti così:
area           0
perimeter      0
compactness    3
length         0
width          1
asymmetry      0
length.1       0
dtype: int64

traffic.csv ha 48143 valori nulli distribuiti così:
holiday           48143
temp                  0
rain_1h               0
snow_1h               0
clouds_all            0
weather_main          0
Rush Hour             0
traffic_volume        0
dtype: int64

wikipedia.csv ha 68 valori nulli distribuiti così:
Title        0
Category    34
Text        34
dtype: int64

In [126]:
import os
import pandas as pd

# Percorso della cartella con i file CSV
directory_path = r'C:\Users\paster\Downloads\datasets (3)\datasets\beginner_datasets'

# Lista per memorizzare i nomi dei file con dati nulli
files_con_nulli = []

# Ciclo for per esaminare tutti i file nella directory
for filename in os.listdir(directory_path):
    # Seleziona solo i file con estensione .csv e non nascosti
    if filename.endswith('.csv') and not filename.startswith('._'):
        filepath = os.path.join(directory_path, filename)
        # Legge il file CSV in un DataFrame
        df = pd.read_csv(filepath)
        # Crea la maschera booleana dei dati nulli
        null_mask = df.isna()
        # Conta i valori nulli totali nel DataFrame
        total_nulls = null_mask.sum().sum()
        # Se ci sono dati nulli, stampa il nome del file e lo memorizza
        if total_nulls > 0:
            print(f"{filename} contiene {total_nulls} valori nulli.")
            files_con_nulli.append(filename)

# Alla fine, puoi stampare la lista completa dei file con nulli
print("File con dati nulli:", files_con_nulli)

automobile.csv contiene 39 valori nulli.
elections.csv contiene 52 valori nulli.
france.csv contiene 66 valori nulli.
hepatitis.csv contiene 153 valori nulli.
house.csv contiene 7829 valori nulli.
income.csv contiene 4262 valori nulli.
mice.csv contiene 1396 valori nulli.
nba.csv contiene 11 valori nulli.
pokemon.csv contiene 386 valori nulli.
population.csv contiene 12 valori nulli.
seeds.csv contiene 4 valori nulli.
traffic.csv contiene 48143 valori nulli.
wikipedia.csv contiene 68 valori nulli.
File con dati nulli: ['automobile.csv', 'elections.csv', 'france.csv', 'hepatitis.csv', 'house.csv', 'income.csv', 'mice.csv', 'nba.csv', 'pokemon.csv', 'population.csv', 'seeds.csv', 'traffic.csv', 'wikipedia.csv']